@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-orange: #ff6900;
  --color-black: #483d3f;
  --color-pastel: #d3d0cb;
  --color-white: #e7e5df;
  --color-green: #44bba4;
  --color-bonewhite: #f9f6ee;

  /* Dark theme colors */
  --color-primary: #1f1b24;
  --color-secondary: #282a36;
  --color-accent: #44475a;
  --color-background: #6272a4;
  --color-text: #8be9fd;
  --color-buttons: #50fa7b;

  --font-inconsolata: "Quicksand", sans-serif;
}

p,
h3,
button {
  font-family: Quicksand;
}
h1,
h2 {
  font-family: Bebas Neue;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light theme variables */
  --bg-primary: #ffffff;
  --bg-secondary: #ff6900;
  --bg-accent: #f9f6ee;
  --text-primary: #000000;
  --text-secondary: #483d3f;
  --text-accent: #ff6900;
  --border-color: #483d3f;
  --button-bg: #44bba4;
  --button-hover: #309580;
}

/* Dark theme variables */
.dark {
  --bg-primary: #1f1b24;
  --bg-secondary: #282a36;
  --bg-accent: #44475a;
  --text-primary: #8be9fd;
  --text-secondary: #8be9fd;
  --text-accent: #50fa7b;
  --border-color: #44475a;
  --button-bg: #50fa7b;
  --button-hover: #50fa7b;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: fit-content;
  width: 100vw;
  border: none;
  outline: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
button {
  cursor: pointer;
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
